@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<h1><a href="/categories/">Categories</a> - @Model.Category.Name</h1>

<ul class="category-list">
  @foreach(var catInPost in Model.PostsInCategory){
    <li>
      <a href="@catInPost.Url" title="@catInPost.Title">@catInPost.Title</a> 
      <small>(@catInPost.Date.ToString("dd MMM yyyy"))</small>
    </li>
  }
</ul>

